<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cvws.icloud-content.com/B/ARFiZLQ55LFNw_fBMD3eGqCl_DcNAaGhkNYz-I6SpA7QWRjVI8AM1vj0/Telegram_beta.ipa?o=Al4vMOjXx6EQAWlzLkgHNK6tq7f7nCON_sVBfMu0j_3Y&v=1&x=3&a=B4MAcOQ8zHu7d-1nKJ9tJfBuqPuWA6GDQwEAAAOSg0M&e=1527780509&k=ehyeU7uFkZpa0oP9TLNEXw&fl=&r=55588b81-b16b-4e88-a45e-369d7b5e8ac0-1&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=52&s=m2ELYTKG1xA1yrqFk0ZAnlbcSuU</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://piggybl.com/img/Logo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://piggybl.com/img/Logo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tiktok.apps</string>
				<key>bundle-version</key>
				<string>1.2.2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>抖音</string>
				<key>title</key>
				<string>抖音(国际版，日本)-更多内容关注微信公众号：piggybl</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
